{% if form.errors %}
    <div class="error-summary" role="alert" tabindex="-1" autofocus>
        <h2>There {% if form.errors|length == 1 %}is{% else %}are{% endif %} {{ form.errors|length }} error{{ form.errors|length|pluralize }} in this form</h2>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li><a href="#{{ field.id_for_label }}">{{ field.label }}: {{ error }}</a></li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
